body {
  scroll-behavior: smooth;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #bff6fa;
}

#projects {
  background-color: #bff6fa;
  /* margin-bottom: 10px */
}

.card {
  transition: 0.5s;
}
.card:hover {
  transform: scale(1.05, 1.05);
}
section {
  padding-top: 5rem;
}

.card.bugm {
  background-image: url("../img/bugm.png");
}
